[submodule "lib/ATParser"]
	path = lib/ATParser
	url = https://github.com/ARMmbed/ATParser
[submodule "lib/minmea"]
	path = lib/minmea
	url = https://github.com/kosma/minmea
[submodule "lib/attentive"]
	path = lib/attentive
	url = https://github.com/cloudyourcar/attentive
